<div class="container small">
    {{>nav}}
</div>

<h1>So, you want to see {{ name }}?</h1>

<p>
    {{ description }}
</p>

<div class="picture">
    <img src="/projects/{{ proj }}/screen.jpg" />
</div>

<a href="/projects/{{ proj }}" target="_blank">Check it out</a>
