* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.column {
    z-index: 10;
}
.board {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.hole {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: inset 0px 10px blue, 0px 10px blue;
    z-index: 5;
}

.slot.player1 .hole {
    background-color: red;
}

.slot.player2 .hole {
    background-color: yellow;
}

.coin {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    z-index: 2;
}

.coin.player1 {
    background-color: red;
}

.coin.player2 {
    background-color: yellow;
}

.coin.moving {
    z-index: 1;
    transform: translateY(600%);
    transition-duration: 1s;
}

.victory {
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    font-family: georgia, serif;
    text-align: center;
    font-size: 200px;
    z-index: 100;
}

.victory.player1 {
    visibility: visible;
    color: red;
}

.victory.player2 {
    visibility: visible;
    color: yellow;
}
