* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#carousel {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.kitty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
}

.kitty.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
}

.kitty.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}

.kitty img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#dots {
    display: flex;
    justify-content: center;
}

.dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 4px solid white;
    z-index: 3;
    margin: 5px;
}

.on {
    background-color: white;
}
